<h2>Hello</h2>

<form action="/contacts" method = "POST">
  <div class="form-group">
    <label>Email address</label>
    <input name = "username" type="email" class="form-control" placeholder="Email">
  </div>
  <p><textarea rows="10" cols="45" name="text"></textarea></p>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>