<h2>You can visit us everyday</h2>

<form action="/visit" method = "POST">
  <div class="form-group">
    <label>Email address</label>
    <input name = "username" type="email" class="form-control" placeholder="Email">
  </div>

   <select class="form-control" name="barber">
    <option value="Walter WHite">Walter White</option>
    <option value="Jessy Pinkman">Jessy Pinkman</option>
    <option value="Gus Fring">Gus Fring</option>
   </select>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>

